/build/resources/main/application/photos/bar.png
/build/classes/java/main/application/controller/EntranceController.class
/build/classes/java/main/application/entities/Client.class
/.idea/shelf/Uncommitted_changes_before_Update_at_10_9_2021_9_00_AM_[Default_Changelist]/fileHashes.lock
/.idea/shelf/Uncommitted_changes_before_Update_at_10_9_2021_9_00_AM_[Default_Changelist]/executionHistory.lock
/build/resources/main/application/fxml/entrance.fxml
/build/tmp/jar/MANIFEST.MF
/.idea/shelf/Uncommitted_changes_before_Update_at_10_9_2021_9_00_AM_[Default_Changelist]/sha1-checksums.bin
/.gradle/6.7/fileHashes/resourceHashesCache.bin
/.gradle/6.7/javaCompile/taskHistory.bin
/java_pid18992.hprof
/.gradle/6.7/fileHashes/fileHashes.bin
/.idea/shelf/Uncommitted_changes_before_Update_at_10_9_2021_9_00_AM_[Default_Changelist]/taskHistory.bin
/.idea/shelf/Uncommitted_changes_before_Update_at_10_9_2021_9_00_AM_[Default_Changelist]/buildOutputCleanup.lock
/.idea/shelf/Uncommitted_changes_before_Update_at_10_9_2021_9_00_AM_[Default_Changelist]/javaCompile.lock
/.idea/shelf/Uncommitted_changes_before_Update_at_10_9_2021_9_00_AM_[Default_Changelist]/classAnalysis.bin
/build/classes/java/main/tests/FireStoreConnection.class
/.gradle/6.7/executionHistory/executionHistory.bin
/build/classes/java/main/application/controller/RegisterController.class
/.gradle/vcs-1/gc.properties
/.idea/jarRepositories.xml
/rest_test_data.json
/.idea/shelf/Uncommitted_changes_before_Update_at_10_9_2021_9_00_AM_[Default_Changelist]/resourceHashesCache.bin
/build/resources/main/application/photos/chair.png
/build/classes/java/main/application/entities/REST_TAGS.class
/build/resources/main/application/fxml/Map.fxml
/build/resources/main/application/fxml/Login.fxml
/build/scripts/finalProj
/build/classes/java/main/tests/TestLauncher.class
/build/resources/main/application/photos/table.png
/build/resources/main/application/photos/table_green.png
/build/tmp/compileJava/source-classes-mapping.txt
/build/classes/java/main/application/entities/Restaurant.class
/build/resources/main/application/fxml/waiterMenu.fxml
/.gradle/6.7/javaCompile/javaCompile.lock
/.idea/compiler.xml
/gradle/wrapper/gradle-wrapper.properties
/build/classes/java/main/tests/DataTest.class
/.gradle/buildOutputCleanup/outputFiles.bin
/.gradle/configuration-cache/gc.properties
/build/classes/java/main/application/controller/MapController.class
/.gradle/6.7/fileChanges/last-build.bin
/.gradle/6.7/javaCompile/classAnalysis.bin
/.idea/shelf/Uncommitted_changes_before_Update_at_10_9_2021_9_00_AM_[Default_Changelist]/finalProj-1.0-SNAPSHOT.jar
/.gradle/checksums/sha1-checksums.bin
/.gradle/6.7/gc.properties
/.idea/shelf/Uncommitted_changes_before_Update_at_10_9_2021_9_00_AM_[Default_Changelist]/checksums.lock
/.idea/gradle.xml
/build/classes/java/main/application/App.class
/build/libs/test-1.0-SNAPSHOT.jar
/build/resources/main/application/photos/smokingZone.png
/build/distributions/finalProj-1.0-SNAPSHOT.tar
/build/scripts/finalProj.bat
/.gradle/buildOutputCleanup/cache.properties
/.idea/vcs.xml
/build/classes/java/main/tests/FireStoreConnection$2.class
/build/resources/main/application/fxml/hostessMenu.fxml
/build/classes/java/main/application/entities/Permission.class
/.gradle/6.7/fileHashes/fileHashes.lock
/build/resources/main/application/fxml/Register.fxml
/.idea/misc.xml
/build/resources/main/application/fxml/ownerMenu.fxml
/build/classes/java/main/tests/DAO/restDao.class
/.gradle/checksums/checksums.lock
/.gradle/6.7/executionHistory/executionHistory.lock
/build/classes/java/main/application/Launcher.class
/build/distributions/finalProj-1.0-SNAPSHOT.zip
/gradle/wrapper/gradle-wrapper.jar
/.idea/shelf/Uncommitted_changes_before_Update_at_10_9_2021_9_00_AM_[Default_Changelist]/finalProj-1.0-SNAPSHOT.tar
/.idea/shelf/Uncommitted_changes_before_Update_at_10_9_2021_9_00_AM__Default_Changelist_.xml
/build/resources/main/application/fxml/ShiftManagerMenu.fxml
/build/resources/main/application/photos/bar.jpg
/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/build/resources/main/application/fxml/chooseLocation.fxml
/.idea/workspace.xml
/.gradle/checksums/md5-checksums.bin
/.idea/shelf/Uncommitted_changes_before_Update_at_10_9_2021_9_00_AM_[Default_Changelist]/executionHistory.bin
/build/classes/java/main/application/controller/MapController$1.class
/.idea/shelf/Uncommitted_changes_before_Update_at_10_9_2021_9_00_AM_[Default_Changelist]/finalProj-1.0-SNAPSHOT.zip
/build/resources/main/application/photos/table.jpg
/build/resources/main/application/photos/table_red.png
/build/resources/main/application/fxml/style.css
/build/classes/java/main/application/controller/dao/DAO.class
/build/resources/main/application/photos/window.png
/.idea/shelf/Uncommitted_changes_before_Update_at_10_9_2021_9_00_AM_[Default_Changelist]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_10_9_2021_9_00_AM_[Default_Changelist]/fileHashes.bin
/build/classes/java/main/application/Location.class
/build/classes/java/main/tests/FireStoreConnection$1.class
