.root{
	-fx-pref-width:600px;
	-fx-pref-height:600px;
	-fx-background-color: #103667;
	-fx-background-radius: 5px;

}
.text{
-fx-fill:#94aad6
}
.text-area .content{
	-fx-background-color: #205aa7;
}
.text-field{
-fx-background-color: #205aa7;
}

.tab{
-fx-background-color: #205aa7;
}
.tab .text{
-fx-fill:black;
}
.tab-pane .tab-header-area .tab-header-background{
-fx-background-color: #184680;

}
.tab:hover{
-fx-background-color: #426eb4;
}
.tab:selected{
-fx-background-color: #94aad6;
}
.header {
	-fx-alignment: center;
	-fx-background-color: #103667;
	-fx-background-radius: 10px;
	-fx-padding:5px ;
	-fx-pref-width:600px;
	-fx-pref-height:50px;
	-fx-effect: dropshadow(gaussian ,#1b4f93,15,0.6,5px,5px);

}
.header .label{
	-fx-text-fill:black;
	-fx-effect: dropshadow(gaussian ,#426eb4,1,1,0px,0px);
}
.button{
	-fx-background-color:#00ced1, #018486;
	-fx-background-radius: 25px;
	-fx-effect: dropshadow(gaussian  ,#007c7e,15,0.2,3px,5px);
	-fx-background-insets: 0, 450% 450%;
	-fx-cursor : hand ;

}
.button .text{
	-fx-fill: white;
	-fx-effect: dropshadow(gaussian ,#00ced1,1,1,0px,0px);
}
.button:hover{
	-fx-background-color:#048b8d;
	-fx-background-radius: 25px;
	-fx-effect: dropshadow(gaussian  ,#004b4d,15,0.2,3px,5px);

}
.button:armed{
	-fx-background-color:#026d6e;
	-fx-background-radius: 25px;
	-fx-effect: dropshadow(gaussian  ,#004b4d,15,0.2,5px,8px);

}
.modelElement{
-fx-border-width: 5px;
}
.avaible{
-fx-effect: dropshadow(gaussian ,blue,1,1,0px,0px);
-fx-background-color:#ffffffff;
}
